.slide-enter-active,
.slide-leave-active {
    transition: 0.5s;
}

.slide-enter-to,
.slide-leave {
    max-height: 50vh;
    overflow: hidden;
}

.slide-enter,
.slide-leave-to {
    max-height: 0;
    overflow: hidden;
}
