.vc__table-container {
    overflow-x: auto;
    .vc__table {
        background: #fff;
        width: 100%;
        caption {
            caption-side: bottom;
            padding: 10px;
            text-align: center;
        }
        .vc__table__thead {
            .vc__thead__tr {
                th {
                    text-align: left;
                    white-space: nowrap;
                }
            }
        }
        .vc__table__tbody {
            .vc__tbody__tr {
                // text-align: center;
            }
        }
        .vc__table__tr {
            td,
            th {
                padding: 10px;
            }
            .selection {
                width: 26px;
                .selection-container {
                    width: 26px;
                    height: 20px;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .colapse-icon {
                width: 26px;
                position: relative;
                .icon {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                        transform-origin: 50% 75%;
                        transition: all 0.4s linear;
                    }
                }
                .colapsed {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .collapse-tr {
        padding: 3px;
        box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.225);
        tr:last-of-type {
            td {
                border-bottom: none !important;
            }
        }
        caption {
            border-bottom: none !important;
        }
    }

    &.borderd {
        .vc__table {
            border: 1px solid #d8d6de;
            border-bottom: none;
            .vc__table {
                border: none;
            }
            caption {
                border-bottom: 1px solid #d8d6de;
                border-top: none;
            }
            .vc__table__tr {
                td,
                th {
                    border-bottom: 1px solid #d8d6de;
                }
            }
        }
        &.cell-borderd {
            td,
            th {
                border: 1px solid #d8d6de;
                border-top: none;
                border-left: none;
            }
            td:last-of-type,
            th:last-of-type {
                border-right: none;
            }
        }
    }
    &.striped {
        .vc__table {
            > .vc__table__tbody {
                > .vc__tbody__tr:nth-of-type(2n + 1) {
                    background: #efefef;
                }
                > .vc__tbody__tr:nth-of-type(2n) {
                    background: #fff;
                }
            }
        }
    }
    [dir="ltr"] .vc__table {
        .vc__table__thead {
            .vc__thead__tr {
                text-align: left;
            }
        }
    }
    [dir="rtl"] .vc__table {
        .vc__table__thead {
            .vc__thead__tr {
                text-align: right;
            }
        }
    }
}
